{% extends '_base.html' %}

{% block body %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account does not have sufficient rights to access</p>
    {% else %}
<h2>Please,login to see this page</h2>
    {% endif %}
{% endif %}

 {% if not user.is_authenticated %}
        <article>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button" id="id_sign_in">Sign In</button>
                <input name="next" type="hidden" value="{{ next }}">
            </form>
        </article>
    {% endif %}

{% endblock %}